{% extends 'ticketsystem/auth.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Account Activation Pending</h1>
        </div>
        <p>Your account is currently under <b>Pending Status</b>.</p>
        <p>To get full access to this software, please call our support at <a href="tel:9841331423">9841331423</a> or email us at <a href="mailto:support@wisherstech.com">support@wisherstech.com</a></p>
        <hr>
        <div class="text-center">
          <a class="small btn btn-primary" href="forgot-password.html">View Package Plan</a>
        </div>
        <div class="text-center">
          <a class="small" href="register.html">Terms and Conditions</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}