{%extends 'ticketsystem/auth.html'%}
{%block content%}
<div class="row">
    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
    <div class="col-lg-7">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
        </div>
        <form class="user frontend" method="POST" action="">
          {%csrf_token%}
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label for="id_first_name">First Name</label>
              {{form.first_name}}
            </div>
            <div class="col-sm-6">
              <label for="id_last_name">Last Name</label>
              {{form.last_name}}
            </div>
          </div>
          <div class="form-group">
            <label for="id_email">Email</label>
            {{form.email}}
          </div>
          <div class="form-group">
            <label for="id_username">Username</label>
            {{form.username}}
          </div>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label for="id_password1">Password</label>
              {{form.password1}}
            </div>
            <div class="col-sm-6">
              <label for="id_password2">Confirm Password</label>
              {{form.password2}}
            </div>
          </div>
          <button class="btn btn-primary btn-user btn-block">Register Account</button>
          
        </form>
        {{form.errors}}
        <hr>
        <div class="text-center">
          <a class="small" href="forgot-password.html">Forgot Password?</a>
        </div>
        <div class="text-center">
          <a class="small" href="/login/">Already have an account? Login!</a>
        </div>
      </div>
    </div>
  </div>
{%endblock%}