{% extends 'ticketsystem/vendorLoggedIn.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-2 text-gray-800">Booking List</h1>
      <a href="/newbooking/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i> New Booking</a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tickets Booked</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Booked By</th>
                <th>Destination From</th>
                <th>Destination To</th>
                <th>Payment Mode</th>
                <th>Departure date</th>
                <th>Total Amount</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Booked By</th>
                <th>Destination From</th>
                <th>Destination To</th>
                <th>Payment Mode</th>
                <th>Departure date</th>
                <th>Total Amount</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
                {% for test in booking %}
              <tr>
                <td>{{test.fullname}}</td>
                <td>{{test.departurefrom}}</td>
                <td>{{test.departureto}}</td>
                <td>{{test.paymentmode}}</td>
                <td>{{test.departuredate}}</td>
                <td>NRs. {{test.totalprice}}</td>
                <td>
                  <a href="/pdf/{{test.id}}" target="_blank" class="btn btn-success btn-circle btn-sm"><i class="fas fa-print"></i></a>
                  <a href="/updatereservation/{{test.busid.id}}/{{test.id}}/{{test.departuredate|date:'Y-m-d'}}" class="btn btn-warning btn-circle btn-sm">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a href="/updateVehicle/{{test.id}}" class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
{% endblock %}