{%extends 'ticketsystem/auth.html'%}
{%block content%}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-2">Password Reset Complete</h1>
          <hr>
          <p class="mb-4">Your password has been set. You may go ahead and log in now.</p>
          <form class="user">
            <a href="/login/" class="btn btn-primary btn-user btn-block">Login</a>
          </form>
        </div>
        
      </div>
    </div>
  </div>
{%endblock%}