{%extends 'ticketsystem/auth.html'%}
{%block content%}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-2">Password Reset Sent</h1>
          <hr>
          <p class="mb-4">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
          <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
        
      </div>
    </div>
  </div>
{%endblock%}