{% extends 'ticketsystem/main.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Seat Plan Layouts</h1>
    <a href="/addseatplan/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i> Add Seat Plan</a>
</div>

    <!-- DataTales Example -->
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Seat Plan Layouts</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Seat Layout</th>
                        <th>{% if not request.user.is_staff %}View Seat Plan{% endif%}</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Seat Layout</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for seat in seats%}
                    <tr>
                        <td>{{seat.formatname}}</td>
                        <td>
                            <a href="javascript:void(0);" rel="{% if seat.seatlayoutimage %}{{seat.seatlayoutimage.url}}{% endif %}" class="btn btn-info btn-circle btn-sm preview">
                                <i class="fas fa-eye"></i>
                              </a>
                            {% if request.user.is_staff%}  
                            <a href="/updateseatplan/{{seat.id}}" class="btn btn-warning btn-circle btn-sm">
                                <i class="fas fa-edit"></i>
                              </a>
                            <a href="#" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                              </a>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5">
            <img src="" alt="" class="previewimage">
        </div>
    </div>
  </div>
{% endblock%}