{% extends 'ticketsystem/auth.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
      <div class="p-5">
        <div class="text-center">
          <h1 class="h4 text-gray-900 mb-4">Un-Authorized</h1>
        </div>
        <p>You are not authorized to view this page.</p>
        <hr>
        <div class="text-center">
        {% if request.user.is_staff %}
            <a class="small btn btn-primary" href="/">View Dashboard</a>
        {% else %}
        <a class="small btn btn-primary" href="/vendor/">View Dashboard</a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}